.feed {
    min-height: 470px;
    padding: 50px 0 65px;
    text-align: center;
    &__container {
        width: 1420px;
        margin: 0 auto;
    }
    &__subtitle {
        margin: 17px auto 0;
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
    }
    
}