.title {
    position: relative;
    text-align: center;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 26px;
    text-transform: uppercase;
    &__promo {
        margin-top: 26px;
        margin-bottom: 0;
        color: $buttons-color;
        font-family: "Roboto Condensed";
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__prices {
        @include divider;
    }
    &__consultation {
        margin-top: 56px;
        color: #3a3a3a;
    }
    &__work {
        @include divider;
    }
    &__agent {
        margin-top: 20px;
        color: #ffffff;
        text-transform: none;
    }
}