.work {
    min-height: 620px;
    padding: 50px 0 60px;
    &__subtitle {
        width: 879px;
        margin: 17px auto 0;
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &__item {
        text-align: center;
        &_text {
            margin-top: 28px;
            color: $buttons-color;
            font-size: 18px;
            font-weight: 700;
        }
        &_descr {
            margin-top: 17px;
            color: #3a3a3a;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
        }
    }
}